.dygraph-legend {
  font-family: raleway;
  background: rgba( 255, 255, 255, 0.1 ) !important;
}

.dygraph-title {
  color: "#777777";
  font-weight: bold;
  font-family: instruction;
}

.dygraph-axis-label {
  font-size: 11px;
  font-family: raleway;
}
